@media (max-width: 767.98px) {
  * {
    color: #181a18;
  }
  .home {
    background-color: #e9ecff;
    min-height: 100vh;
  }
  .desktop {
    display: none;
  }

  .start {
    font-size: 30px;
    bottom: 50px;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    border: none;
    border-radius: 50px;
    background: #fbfaf5;
    box-shadow: 0 1px 1px rgb(0 0 0 / 11%), 0 2px 2px rgb(0 0 0 / 11%),
      0 4px 4px rgb(0 0 0 / 11%), 0 6px 8px rgb(0 0 0 / 11%),
      0 8px 16px rgb(0 0 0 / 11%);
  }
  .mobile {
    display: block;
    background-color: #FBFAF5;
    min-height: 100vh;
    overflow: hidden;
  }
  .ImageMobileHeader {
    width: 100%;
    margin-left: 0;
    margin-top: 60px;
  }
  .ImageMobile {
    width: 300px;
    position: absolute;
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 35px;
  }
  .HeadingMobile {
    font-family: "Carter One", cursive;
    font-size: 40px;
    text-align: center;
  }
  .ParagrafMobile {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin: 25px 20px 5px 20px;
  }
  .FooterBtnMobile {
    position: absolute;
    bottom: 0;
    background-color: #1b5e5e;
    width: 100%;
    height: 50px;
    border-radius: 20px 20px 0px 0px;
  }
  .FooterBtnMobile p {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #fafafa;
    margin-top: 15px;
  }
  .AtasMobile {
    height: 354px;
  }
  .BawahMobile {
    position: fixed;
    width: 100%;
    padding: 35px;
    border-radius: 30px 40px 0px 0px;
    background-color: #FBFAF5;
    bottom: 0;
  }
  .BawahMobile h5 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 30px;
    text-indent: 0.7em;
    width: 176px;
    margin: 0 auto;
    letter-spacing: 2px;
  }
  .BawahMobile p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    margin-top: 24px;
  }
  .btn-back {
    margin: 10px;
  }
}
