:root {
  /*===== Colores =====*/
  --first-color: #1a73e8;
  --input-color: #80868b;
  --border-color: #dadce0;

  /*===== Fuente y tipografia =====*/
  --body-font: "Roboto", sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: 0.75rem;
}
@media (min-width: 1199.98px) {
  .mobile {
    display: none;
  }
}
a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #000;
}
@font-face {
  font-family: rockin-font;
  src: url("../font/FirstFun.otf");
}

.rounded-15 {
  border-radius: 15px;
}

/* form google */
.form_div {
  position: relative;
  height: 48px;
  margin-bottom: 1.5rem;
}

.form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: var(--normal-font-size);
  border: 1px solid var(--border-color);
  border-radius: 0.5rem;
  outline: none;
  padding: 1rem;
  background: none;
  z-index: 1;
}

.form__label {
  position: absolute;
  left: 1rem;
  top: 1rem;
  padding: 0 0.25rem;
  background-color: #fff;
  color: var(--input-color);
  font-size: var(--normal-font-size);
  transition: 0.3s;
}

.form__button {
  display: block;
  margin-left: auto;
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  background-color: var(--first-color);
  color: #fff;
  font-size: var(--normal-font-size);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.form__button:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

.form__input:focus + .form__label {
  top: -0.5rem;
  left: 0.8rem;
  color: var(--first-color);
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}

.form__input:not(:placeholder-shown).form__input:not(:focus) + .form__label {
  top: -0.5rem;
  left: 0.8rem;
  color: var(--first-color);
  font-size: var(--small-font-size);
  font-weight: 500;
  z-index: 10;
}

.form__input:focus {
  border: 1.5px solid var(--first-color);
}

/* button cta new */
.cta {
  border-radius: 4px;
  border: 2px solid #009cd0;
  color: #009cd0;
  display: inline-block;
  margin: 0 0.25em;
  overflow: hidden;
  padding: 2px 60px 24px 16px;
  position: relative;
  text-decoration: none;
  line-height: 1;
}
.cta-login {
  width: 100%;
}
.cta .cta-content {
  margin-top: 10px;
  margin-bottom: -10px;
  padding: 0 26px;
  position: relative;
  right: 0;
  transition: right 300ms ease;
  display: block;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.cta .icon {
  border-left: 1px solid #009cd0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 50%;
  transition: all 300ms ease;
  transform: translateY(-50%);
  width: 58px;
  height: 70%;
}
.cta .icon i {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.cta:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #009cd0;
  opacity: 0;
  transition: opacity 300ms ease;
}
.cta:hover .cta-content {
  right: 100%;
}
.cta:hover .icon {
  border-left: 0;
  font-size: 1em;
  width: 100%;
}
.cta:hover:after {
  opacity: 0.2;
}
.cta.cta-alt-color {
  border-color: salmon;
  color: salmon;
}
.cta.cta-alt-color .icon {
  border-left-color: salmon;
}
.cta.cta-alt-color:after {
  background-color: salmon;
}

/* end button new */

header {
  background-color: #e9ecff;
  height: 450px;
}
footer {
  position: relative;
  bottom: 0;
}
footer p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: -50px;
}
.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.navbar a {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.carousel-control-next {
  color: #000;
}

.heading-text {
  font-family: "Carter One", cursive;
  font-size: 52px;
  margin-top: 100px;
}

.svg-path {
  width: 600px;
  margin-top: -60px;
  margin-left: 93px;
}
.svg-fitur {
  width: 200px;
}
.img-path {
  position: absolute;
  top: 100px;
  right: 69px;
}

/* fitur */
.fitur {
  margin-top: 100px;
}
.fitur h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 35px;
}
.text-fitur {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 50px;
}
.text-center h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-top: -20px;
}

.text-center p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.text-center img {
  position: absolute;
  top: 73px;
  right: 102px;
  width: 92px;
}

/* testimoni */
.testimoni {
  margin-top: 100px;
}
.svg-testi {
  width: 694px;
  margin-top: -60px;
  margin-left: -144px;
}
.img-testi {
  position: absolute;
  top: 1257px;
  right: 693px;
}
.heading-testi {
  font-family: "Carter One", cursive;
  font-size: 52px;
  margin-top: 80px;
}
.p-testi {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-bottom: 50px;
  font-size: 20px;
}
.img-user {
  width: 80px;
  height: 80px;
  border-radius: 15px;
}
.isi-testi {
  margin-left: 30px;
}
.isi-testi h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
.isi-testi p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px; /* fallback */
  max-height: 32px; /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

/* login */
.bg-login {
  background-color: #e9ecff;
}
.login-svg {
  width: 555px;
  margin-top: -205px;
  margin-left: 67px;
}
.login-img {
  position: absolute;
  top: 27px;
  right: 175px;
  width: 500px;
}
.login {
  margin-top: 150px;
}
.login .card {
  margin-top: -108px;
}
.login-text {
  font-family: "Carter One", cursive;
  font-size: 52px;
}
.login-p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 5px;
}
